<section #sectp>
    <div class="contenedor-img">
        <img src="" alt="">
    </div>
    <div class="btn-editar">
        <button>Editar</button>
    </div>
    <br>
        <h3 class="title-info">Informacion personal</h3>
        <hr>
    <table class="info-personal">
        <tr>
            <td>Rol</td>
            <td>Cargo</td>
            <td>Nombre</td>
            <td>Permisos</td>
        </tr>
        
        <tr>
            
            <td></td>
            <td></td>
            <td></td>
            <td>todo</td>
        </tr>
    </table>
    <br>
        <h3 class="title-datos">Datos de contacto</h3>
        <hr>
    <table class="info-contacto">
        <tr>
            <td>Telefono</td>
            <td>Correo</td>
            <td>Sede</td>
            <td>Dirección</td>
        </tr>
        <tr>
            <td>a</td>
            <td></td>
            <td>a</td>
            <td>a</td>
        </tr>
    </table>
    <br>
    <div class="crearPerfil">
        <button>Añadir Perfil</button>
    </div>
    <div class="cerrarPerfil">
        <button>Cerrar</button>
    </div>
</section>
